img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* header */

.header {
}

.header-links-list {
  list-style-type: none;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.header-address-list {
  font-style: normal;
}

.header-links {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address-item-list {
  list-style-type: none;
}

.header-address-list {
  list-style-type: none;
}

.address-items {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-links:hover,
.header-links:focus,
.address-items:hover,
.address-items:focus {
  color: #404bbf;
}

/* Section 1 Effective Solutions */

.solutions {
  background-color: #2e2f42;
}

.solutions-h-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.solutions-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.solutions-button:hover,
.solutions-button:focus {
  background-color: #404bbf;
}

/* Section 2 Our benefits */

.benefits {
}

.benefits-list {
  list-style-type: none;
}

.benefits-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Section 3 Our Team */

.team {
  background-color: #f4f4fd;
}

.team-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  list-style-type: none;
}

.team-list-item {
  background-color: #ffffff;
}

.team-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Section 4 Our Portfolio */

.portfolio {
}

.portfolio-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.footer > a {
  text-decoration: none;
}

.footer-p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo-studio {
  color: #f4f4fd;
}
